<div class="header-hero-wrapper for-boxes" id="wt4_wtheader_hero_wrapper">
    <div class="navigation-outter">
        <div class="navigation-inner container">
            <div class="row" id="wt4_wtheader">
                <script>
                !function(t,e,n,a,s,o,r,i){n&&(o=n[a],o&&(r=t.createElement("style"),r.innerHTML=o,t.getElementsByTagName("head")[0].appendChild(r)),i=e.setAttribute,e.setAttribute=function(t,r,p,u){"string"==typeof r&&r.match(s)&&(p=new XMLHttpRequest,p.open("GET",r,!0),p.onreadystatechange=function(){4===p.readyState&&(u=p.responseText,u!==o&&(n[a]=u))},p.send(null),e.setAttribute=i,o)||i.apply(this,arguments)})}(document,Element.prototype,localStorage,"tk","//use.typekit.net");
                </script> 
                <script>
                (function(d) {
                var config = {
                kitId: 'jlz7hji',
                scriptTimeout: 3000,
                async: true
                },
                h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
                })(document);
                </script>
                <style>
                .submenuhover{top: 80px;}.navigation-inner{position: inherit;}
                </style>

                <div data-swiftype-index="false" style=
                "position: relative; z-index: 9999;height: 30px;text-align: right;">

                    <style>
                    .header-hero-wrapper{padding-top: 0;}.navigation-inner{height: 80px;}.navigation-outter.navigation-wrapper{padding-top: 0px;}
                    </style>

                    <div class="secondary-menu">
                        <span class="header-contacts">Call us at
                        404-719-5100</span><a alt="Blog" href="/blog/" id=
                        "wt4_wtheader_wt19_wt10" title="Blog">Blog</a><a alt=
                        "Contact us" href="/company/contact-us/" id=
                        "wt4_wtheader_wt19_wt63" title=
                        "Contact us">Contacts</a><a alt="Support" href=
                        "//success.outsystems.com/Support/" id=
                        "wt4_wtheader_wt19_wt58" title="Support">Support</a>
                    </div>


                    <div class="search_field">
                        <input autocomplete="off" class="st-search-input" id=
                        "st-search-input" type="text">
                    </div>
                    <a alt="Login" class="osbtn osbtn-gray header-login" href=
                    "javascript:void(0)" id="wt4_wtheader_wt19_wt32" onclick=
                    "trackEvent('CS - Navigate To portal',null,null);setTimeout(function(){window.location.href='https://extranetqa.outsystems.net/home/login.aspx';},500);"
                    title="Login">Login</a>
                </div>


                <div class="navigation-longtail" data-swiftype-index="false">
                    <div class="span1">
                    </div>


                    <div class=
                    "navigation-bar-section navigation-bar-tail-spacer">
                        <a href="/" id="wt4_wtheader_wt19_wt41"><img alt=""
                        class="navigation-bar-tail-logo" src=
                        "/cms_backoffice/assets/20150306002354/logo-outsystems_glow"></a>
                    </div>


                    <div class="navigation-items">
                        <ul class="navigation-bar">
                            <li style="list-style: none"><span class=
                            "spacer-bg"></span><span id=
                            "wt4_wtheader_wt19_wt25_wtListSections"></span>
                            </li>


                            <li class="active platform"><span id=
                            "wt4_wtheader_wt19_wt25_wtListSections"><a data-name="platform"
                            data-option="dropdown-hover" href="/platform/" id=
                            "wt4_wtheader_wt19_wt25_wtListSections_ctl00_wt12"><span class="">
                            Platform</span></a></span>
                            </li>


                            <li class="solutions">
                                <a data-name="solutions" data-option=
                                "dropdown-hover" href="/solutions/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl02_wt12">
                                <span class="solutions">Solutions</span></a>
                            </li>


                            <li class="customers">
                                <a data-name="customers" data-option=
                                "dropdown-hover" href="/customers/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl04_wt12">
                                <span class="customers">Customers</span></a>
                            </li>


                            <li class="partners">
                                <a data-name="partners" data-option=
                                "dropdown-hover" href="/partners/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl06_wt12">
                                <span class="">Partners</span></a>
                            </li>


                            <li class="learn-and-support">
                                <a data-name="learn-and-support" data-option=""
                                href="/learn-and-support/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl08_wt12">
                                <span class="">Learn &amp; Support</span></a>
                            </li>


                            <li class="company">
                                <a data-name="company" data-option=
                                "dropdown-hover" href="/company/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl10_wt12">
                                <span class="">About Us</span></a>
                            </li>


                            <li class="get-started">
                                <a class="osbtn osbtn-red" data-name=
                                "get-started" data-option="" href=
                                "/get-started/" id=
                                "wt4_wtheader_wt19_wt25_wtListSections_ctl12_wt12">
                                <span class="try-now">Try now for
                                free</span></a>
                            </li>
                        </ul>


                        <div class=
                        "navigation-search-outter navigation-bar-section">
                        </div>
                    </div>


                    <div class="navigation-longtail-end">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>