{{#posts}}


<div class="post span4" onclick="location.href='{{url}}'">
    <div class="header">
        <img class="attachment-post-thumbnail wp-post-image" height="138" src="{{#thumbnail_images}}{{post-thumbnail.url}}{{/thumbnail_images}}" width="306">
{{#categories}}
        <div class="category byline {{slug}}">
            <i>&nbsp;</i>&nbsp;{{title}}
        </div>
        {{/categories}}
    </div>


    <div class="entry">
        <h3><a class="postlink" href="{{url}}">{{title}}</a>
        </h3>


        <div class="postcontent">
  
  
        {{excerpt}}


        </div>


        <p class="postmetadata byline">By <a href="http://www.outsystems.com/blog/author/{{author.slug}}" rel="author" title="Posts by {{author.name}}">{{author.name}}</a> on {{date}}</p>
    </div>
</div>



{{/posts}}